html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for a specific element */
.scrollable-div {
  overflow: auto; /* Ensure scrolling is enabled */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollable-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
